RewriteEngine On # Turn on the rewriting engine
RewriteRule ^api/requests/?$ requests.php [NC,L]
RewriteRule ^api/requests/([0-9]+)/?$ api/requests.php?request=$1 [NC,L]
RewriteRule ^api/users/?$ users.php [NC,L]
RewriteRule ^api/users/([0-9]+)/?$ api/users.php?user=$1 [NC,L]