<rule name="rule 1VTT" stopProcessing="true">
	<match url="^requests/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/requests.php"  />
</rule>
<rule name="rule 2V" stopProcessing="true">
	<match url="^requests/([0-9]+)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/requests.php?request_id={R:1}"  />
</rule>