/*
Code Below Adopted from:
site:            https://www.udemy.com
Course title:    PHP: Complete Login and Registration System with PHP & MYSQL
Instructor:      Osayawe Terry Ogbemudia
as at as at 13 April 2017 11:55AM
and
http://codepen.io/Mariacristina88/pen/WxWVWb  as at 13 April 2017 11:55AM

*/


body{
    padding: 50px;
}

.flag{
    padding: 80px 15px;
    text-align: center;
}



.upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

.upload + label {
    width: 200px;
    height:40px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    line-height: 2.6em;
    text-transform: uppercase;
    text-align: center;
    background-color: #ef494f;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 3px 0px #a73337;
    transition: 150ms;
}

.upload:focus + label,
.upload + label:hover {
    background-color: #ff6c71;
    box-shadow: 0px 5px 0px #d03338;
    cursor:pointer;
}

.upload:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
