<rewrite>
    <rules>
        <rule name="Imported Rule1" stopProcessing="true">
            <match url="^requests.php$" ignoreCase="false" />
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Rewrite" url="requests.php?{QUERY_STRING}" appendQueryString="false" />
        </rule>
    </rules>
</rewrite>